/* * {
  border: 1px solid red;
} */
#test {
  width: 200px;
  height: 200px;
  background-color: blue;
  color: white;
  margin: 10px;
  padding: 10px;
}

.results {
  width: 30%;
  min-width: 300px;
  display: none;
  background-color: #b4d1ce;
  border-radius: 5px;
  margin-top: 40px;
  padding: 15px;
}

.resultStyle {
  text-decoration: underline;
  text-align: right;
}

#additionResult, #subtractionResult, #multiplicationResult, #divisionResult {
  float: right;
}

@media (max-width: 320px) {
  body{
    /* background-color: red; */
  }
  .results {
    min-width: 100%;
  }
}

@media (min-width: 992px) {
  body{
    /* background-color: cyan; */
  }
  .results {
    max-width: 300px;
  }
}
