
#test {
  width: 200px;
  height: 200px;
  background-color: blue;
  color: white;
  margin: 10px;
  padding: 10px;
}

.results {
  display: none;
  background-color: #b4d1ce;
  border-radius: 5px;
  margin-top: 15px;
  padding: 7.5px;
}

.resultStyle {
  text-decoration: underline;
}
